@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.PostViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}

<div id="post">
    <h1>@Model.Title</h1>

    <div class="post-note">
      posted on @Model.PostDate.ToString("dd MMM yyyy")
      @foreach (var category in Model.Categories) {
       @:| <a href="/category/@category.Url">@category.Name</a>
      }
      
    </div>
    
    @Html.RenderSeries()
        
    @Html.Raw(Model.PostContent)

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-****"></script>

</div>